* {
  margin: auto;
  padding: auto;
}
body {
  background: transparent;
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
#header {
  width: 100%;
  height: 100vh;
  background-image: url(Images/market.jpg);
  background-size: cover;
  background-position: center;
}

#header h1 {
  text-decoration: none;
  margin-left: 39%;
  display: inline-block;
  justify-content: center;
  font-size: 2.5em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: blue;
  letter-spacing: 2px;
  text-shadow: 3px 3px 3px 3px grey;
  transition: 0.5s;
  position: relative;
  transition-duration: 0.2;
}
#header h1:hover {
  font-size: 50px;
  color: red;
}
select {
  font-size: 20px;
  display: inline-block;
  position: relative;
  border: none;
  width: 100%;
  border-radius: 5px;
}
select:focus {
  outline: none;
}
select:hover {
  color: blue;
  cursor: pointer;
}
.login {
  width: 340px;
  margin: 0px auto;
  font-size: 15px;
}
.login form {
  margin-bottom: 15px;
  background: transparent;
  box-shadow: 60px 60px 60px 30px rgba(5, 4, 4, 0.3);
  padding: 30px;
}
.cform {
  background: wheat;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  padding: 10px 10px;
  font-size: 15px;
  font-weight: bold;
  transition-duration: 0.1s;
}
.cform:focus {
  color: #6379f8ad;
  border-style: inset;
  border-radius: 5px;
}
.se {
  width: 100%;
}
label {
  display: inline-block;
  width: 100px;
  margin-bottom: 10px;
  color: wheat;
  font-size: medium;
  font-family: serif;
  padding: 5px 10px;
  background-color: rgb(78, 62, 62);
  border-radius: 5px;
}
.button-s {
  text-align: center;
  font-size: 15px;
  justify-content: center;
  color: black;
  border-radius: 10px;
  background: transparent;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: -10px red;
  transition-duration: 0.3s;
}
.button-s:hover {
  margin: 0;
  color: red;
  cursor: pointer;
  font-size: 20px;
  border: solid 1px black;
  box-shadow: 4px 4px 4px 4px grey;
}
.sex {
  color: black;
  font-size: 20px;
  text-decoration: none;
}
